/.DS_Store
/Dennis_Matthew_Web_fundamentsls_Text_styling
/Dennis_Matthew_web_fund
/Dennis_matthew_DojoWeather
/Dennis_matthew_Ninja_html_webFundamentals
/Dennis_matthew_Web_Fundamentals_registration_form
/Dennis_matthew_Web_fundamentals_indentation1&2
/Dennis_matthew_web_Fund_plotting_blocks
/Dennis_matthew_web_Fund_plotting_blocks_flex
/Dennis_matthew_web_fund_button
/Dennis_matthew_web_fund_user-card
/Dennis_matthew_web_fundamentals 
/Dennis_matthew_webfund_likingLikes
/Dennis_matthew_wwebfund_Profile_page
/Dennis_matthew_wwebfund_Profile_page_clicker
/WF-June-2023 Caden W  - Schedule.pdf
/dennis_matthew_Git_Hub_Blocks
/video-preview